/* Base styles */
@keyframes rotateImage {
  0% {
    transform: rotate(-9deg); /* Начальная позиция */
  }
  100% {
    transform: rotate(0deg); /* Возврат в исходное положение */
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown2 {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: 'IntegralCF-Bold';
  src: url('../fonts/integralcf-bold.eot'); /* IE 9 Compatibility Mode */
  src: url('../fonts/integralcf-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/integralcf-bold.woff2') format('woff2'),
       url('../fonts/integralcf-bold.woff') format('woff'),
       url('../fonts/integralcf-bold.ttf') format('truetype'),
       url('../fonts/integralcf-bold.svg#integralcf-bold') format('svg');
  font-display: swap; /* Оптимизация загрузки шрифта */
}

html {
  scrollbar-color: #F0F0FF #F0F0FF;
  scrollbar-width: thin;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #F0F0FF;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
  margin: 0 10px;
  transform: translateY(0);
  transition: all 0.3s;
}

a:hover {
  text-decoration: underline;
  color: cadetblue;
}

header {
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 10px;
  animation: fadeDown2 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: "Rubik", sans-serif;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-left: 15%;
  gap: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-bottom: 150px;
  padding-right: 10%;
  font-family: "Rubik", sans-serif;
}

.left-content,
.right-content {
  flex: 1;
}

.left-content h1 {
  margin: 0;
}

.right-content {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
}

#hello {
  font-size: clamp(40px, 7vw, 64px);
  user-select: none;
  margin-left: 20px;
}

#helloP {
  font-size: clamp(32px, 5vw, 32px);
  user-select: none;
  margin-left: 20px;
  margin-top: 10px;
  width: 600px;
}

.base-avatar {
  animation: rotateImage 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.avatar {
  position: relative;
  width: 300px;
  height: 300px;
  margin-left: 20%;
  aspect-ratio: 1;
}

.avatar img,
.avatar .overlay-avatar {
  position: absolute;
}

.avatar img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar .overlay-avatar {
  width: 92%;
  height: 92%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  font-family: 'IntegralCF-Bold', sans-serif;
  font-size: clamp(26px, 5vw, 26px);
  margin-right: 10px;
}

.tags, .skills {
  font-family: "Rubik", sans-serif;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-left: 10px;
  user-select: none;
}

#buy {
  width: 25%;
  height: 40px;
  margin-left: 20%;
  background-color: #F0F0FF;
  border: 1px solid #000000;
}

.tagsup, .tagsdown {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.tagsdown {
  margin-left: 20px;
  gap: 25px;
}

.tag {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags img {
  width: 220px;
  height: 50px;
  object-fit: contain;
}

.avatar-with-icons {
  position: relative;
}

.fly-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 320px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-wrap: wrap;
}

.fly-icon {
  width: auto;
  height: auto;
  position: absolute;
  opacity: 0;
  animation: fly 1s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fly {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y));
    opacity: 1;
  }
}

.fly-icon:nth-child(1) {
  --x: 150px;
  --y: -200px;
}

.fly-icon:nth-child(2) {
  --x: 290px;
  --y: -100px;
}

.fly-icon:nth-child(3) {
  --x: -125px;
  --y: 160px;
}

.fly-icon:nth-child(4) {
  --x: 270px;
  --y: 40px;
}

.fly-icon:nth-child(5) {
  --x: 200px;
  --y: 190px;
}

.fly-icon:nth-child(6) {
  --x: -180px;
  --y: -30px;
}

.fly-icon:nth-child(7) {
  --x: -90px;
  --y: -190px;
}

.page_one {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.pagedown {
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  user-select: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.pagedown:hover {
  transform: scale(1.1);
}

#page1info {
  animation: fadeDown2 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#down-arrow1 {
  animation: fadeDown 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Для мобильных устройств */
@media (max-width: 768px) {

  header {
    padding: 10px;
    flex-direction: row; /* Оставляем горизонтальное расположение */
    justify-content: space-between;
    align-items: center;
    animation: none; /* Убираем анимации */
  }

  .hero {
    flex-direction: column-reverse; /* Сначала показываем аватар */
    padding: 10px;
    min-height: auto;
    gap: 20px;
  }

  .avatar-with-icons{
    transform: scale(0.8); /* Уменьшаем элементы в 2 раза */
  }

  .right-content {
    height: 150px;
    width: 150px;
  }

  #hello {
    font-size: 38px; /* Увеличиваем для удобства чтения */
    margin: 0;
    margin-left: 5%;
    text-align: left;
  }

  #helloP {
    font-size: 28px;
    width: 60%;
    margin: 10px 0 0 0;
    text-align: left;
    margin-left: 5%;
  }


  .avatar {
    transform: scale(0.4); /* Уменьшаем элементы в 2 раза */
  }

  .fly-icons {
    transform: scale(0.4); /* Уменьшаем элементы в 2 раза */
  }

  .logo {
    font-size: 22px;
  }

  .tags {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
  }

  .tagsup, .tagsdown {
    width: 100%;
    justify-content: left;
    gap: 10px;
  }

  .tag {
    height: auto;
    margin-bottom: 5px;
    font-size: 14px;
    
  }

  .tags img {

    height: auto;
    max-height: 38px; /* Ограничиваем высоту для консистентности */
    width: 160px;
  }

  #buy {
    width: 100%;
    margin: 20px auto;
    height: 50px;
    border-radius: 25px; /* Более дружелюбный к тачу */
    font-size: 16px;
    display: block; /* Убираем inline-block поведение */
  }

  .page_one {
    position: static;
    height: auto;
    padding: 20px 0;
    text-align: center;
  }

  .pagedown {
    margin: 0;
    display: none;
  }
}

@media (max-width: 523px) {

  header {
    padding: 10px;
    flex-direction: column; /* Оставляем горизонтальное расположение */
    justify-content: space-between;
    align-items: center;
    animation: none; /* Убираем анимации */
    font-size: 18px;
    justify-content: center;
  }
  .navigation {
    margin: 28px 0;
    text-align: center;
    background-color: black;
    padding: 5px;
    border-radius: 35px;

  }
  .navbtn {
    color: #F0F0FF;
  }

  .logo {
    font-size: 35px;
  }

}

@media (max-width: 401px) {

  header {
    font-size: 13px;
  }
}