
.back {
  background-color: #000000;
  border-radius: 25px;
  border: 2px solid #000000;
  padding: 10px 15px;
  width: 200px;
  color: #ffffff;
  font-size: 16px;  
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  font-family: "Rubik", sans-serif;
}

.back:hover {
  background-color: #F0F0FF;
  color: black;
  transform: translateY(-5px);
  border: 2px solid #000000;
}

.back_btn{
justify-content: center;
align-items: center;
margin-left: 10px;
user-select: none;
cursor: pointer;
}

.back_index  {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}


.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #F0F0FF;
  z-index: 1001;
}
.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}
.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}
@keyframes preloader-rotate {
  100% {
      transform: rotate(360deg);
  }
}
@keyframes preloader-bounce {
  0%, 100% {
      transform: scale(0);
  }
  50% {
      transform: scale(1);
  }
}
.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}

.content {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.loaded .content {
  opacity: 1;
}

.animate-on-load {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.loaded .animate-on-load {
  opacity: 1;
  transform: translateY(0);
}

/* Base styles */
@keyframes rotateImage {
  0% {
    transform: rotate(-9deg);
  }
  100% {
    transform: rotate(0deg); 
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeDown2 {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@font-face {
  font-family: 'IntegralCF-Bold';
  src: url('../fonts/integralcf-bold.eot');
  src: url('../fonts/integralcf-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/integralcf-bold.woff2') format('woff2'),
       url('../fonts/integralcf-bold.woff') format('woff'),
       url('../fonts/integralcf-bold.ttf') format('truetype'),
       url('../fonts/integralcf-bold.svg#integralcf-bold') format('svg');
  font-display: swap; 
}

html {
  scrollbar-color: #F0F0FF #F0F0FF;
  scrollbar-width: thin;
  scroll-behavior: smooth;

}

body {
  font-family: "Inter", sans-serif;
  background-color: #F0F0FF;
  margin: 0;
  padding: 0;
  cursor: url('../edia/images/cursor.png'), auto;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-left: 15%;
  gap: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-bottom: 150px;
  padding-right: 10%;
  font-family: "Rubik", sans-serif;
}

.left-content,
.right-content {
  flex: 1;
}

.left-content h1 {
  margin: 0;
}

.right-content {
  display: flex;
  justify-content: flex-end;
  margin-right: 15%;
}

#hello {
  font-size: clamp(40px, 7vw, 64px);
  user-select: none;
  margin-left: 20px;
}

#helloP {
  font-size: clamp(32px, 5vw, 32px);
  user-select: none;
  margin-left: 20px;
  margin-top: 10px;
  width: 600px;
}

.base-avatar {
  animation: rotateImage 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.avatar {
  position: relative;
  width: 300px;
  height: 300px;
  margin-left: 20%;
  aspect-ratio: 1;
}

.avatar img,
.avatar .overlay-avatar {
  position: absolute;
}

.avatar img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar .overlay-avatar {
  width: 92%;
  height: 92%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tags, .skills {
  font-family: "Rubik", sans-serif;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-left: 10px;
  user-select: none;
}

#tag1, #tag2, #tag3, #tag4 {
  transition: transform 0.3s;
}

#tag1:hover, #tag2:hover, #tag3:hover, #tag4:hover {
  transform: translateY(-5px);
}



.tagsup, .tagsdown {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.tagsdown {
  margin-left: 20px;
  gap: 25px;
}

.tag {
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags img {
  width: 220px;
  height: 50px;
  object-fit: contain;
}

.avatar-with-icons {
  position: relative;
}

.fly-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  height: 320px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-wrap: wrap;
}

.fly-icon {
  width: auto;
  height: auto;
  position: absolute;
  opacity: 0;
  animation: fly 1s forwards cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes fly {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y));
    opacity: 1;
  }
}

.fly-icon:nth-child(1) {
  --x: 150px;
  --y: -200px;
}

.fly-icon:nth-child(2) {
  --x: 290px;
  --y: -100px;
}

.fly-icon:nth-child(3) {
  --x: -125px;
  --y: 160px;
}

.fly-icon:nth-child(4) {
  --x: 270px;
  --y: 40px;
}

.fly-icon:nth-child(5) {
  --x: 200px;
  --y: 190px;
}

.fly-icon:nth-child(6) {
  --x: -180px;
  --y: -30px;
}

.fly-icon:nth-child(7) {
  --x: -90px;
  --y: -190px;
}

.page_one {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.pagedown {
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  user-select: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.pagedown:hover {
  transform: scale(1.1);
}

#page1info {
  animation: fadeDown2 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#down-arrow1 {
  animation: fadeDown 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}


#content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-left: 15%;
  gap: 0;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding-bottom: 150px;
  padding-right: 10%;
  font-family: "Rubik", sans-serif;
}




@media (max-width: 1670px) {
  .hero {
    padding-left: 13%;
    padding-right: 5%;
  }
}

@media (max-width: 1444px) {
  #hello {
    font-size: 36px; 
    margin: 0;
    margin-left: 5%;
    text-align: left;
  }

  #helloP {
    font-size: 28px;
    width: 80%;
    margin: 10px 0 0 0;
    text-align: left;
    margin-left: 5%;
  }

  .tags {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
  }

  .tagsup, .tagsdown {
    width: 100%;
    justify-content: left;
    gap: 10px;
  }

  #tag4 {
    margin-left: 30px;
  }

  .tag {
    height: auto;
    margin-bottom: 5px;
    font-size: 14px;
    
  }
  
  .hero {
    padding-left: 5%;
    padding-right: 2%;
  }
  
}

@media (max-width: 1148px){
  .hero {
    padding-left: 1%;
    padding-right: 1%;
    margin-top: 6%;
  }
  
  #helloP {
   font-size: 32px;
   width: 100%;
   margin-left: 0%;
   background-color: #E6E6FC;
   border-radius: 16px;
   padding: 8px;
  }
 
  #hello {
    margin-left: 0%;
    font-size: 56px;
    background-color: #E6E6FC;
    border-radius: 16px;
    padding: 14px;
    width: 100%;
  }

  .right-content {
   visibility: hidden;
  }
 
  .left-content {
   width: 100%;
   height: 100%;
   flex: none;
  }
  .tags {
    margin-left: 0;
    flex-wrap: nowrap;
  }
  .tagsdown, .tagsup {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {

}

@media (max-width: 768px) {


  .hero {
    flex-direction: column-reverse; 
    padding: 10px;
    min-height: auto;
    gap: 20px;
  }

  .avatar-with-icons{
    transform: scale(0.8); 
  }

  .right-content {
    height: 150px;
    width: 150px;
  }

  #hello {
    font-size: 38px; 
    margin: 0;
    margin-left: 5%;
    text-align: left;
  }

  #helloP {
    font-size: 28px;
    width: 60%;
    margin: 10px 0 0 0;
    text-align: left;
    margin-left: 5%;
  }


  .avatar {
    transform: scale(0.4); 
  }

  .fly-icons {
    transform: scale(0.4); 
  }


  .tags {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
    gap: 5px;
  }

  .tagsup, .tagsdown {
    width: 100%;
    justify-content: left;
    gap: 10px;
  }

  .tag {
    height: auto;
    margin-bottom: 5px;
    font-size: 14px;
    
  }

  .tags img {
    height: auto;
    max-height: 38px; 
    width: 160px;
  }

  .page_one {
    position: static;
    height: auto;
    padding: 20px 0;
    text-align: center;
  }

  .pagedown {
    margin: 0;
    display: none;
  }
}

@media (max-width: 523px) {
}

@media (max-width: 401px) {
}